body {
    margin: 2em;
}

.center {
    margin: 0 auto;
    text-align: center;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td:hover {
    background-color:mintcream;
}